name: Test and deploy to staging


on:
  push:
    branches:
      - main
      - genmoz_metrics
    paths:
      - 'fpg_observational_model/**'
      - 'pyproject.toml'

jobs:
  run-tests:
    name: Run tests
    uses: ./.github/workflows/run-tests.yml

  staging-build-package:
    name: Push to staging
    needs: [run-tests]
    uses: ./.github/workflows/staging-build-package.yml
    secrets:
      STAGING_ARTIFACTORY_USERNAME: ${{ secrets.STAGING_ARTIFACTORY_USERNAME }}
      STAGING_ARTIFACTORY_PASSWORD: ${{ secrets.STAGING_ARTIFACTORY_PASSWORD }}
